# ScyllaDB
SCYLLA_HOSTS=scylladb
SCYLLA_KEYSPACE=chain_bd
SCYLLA_PORT=9042

# Redis
REDIS_URL=redis://redis:6379/0

# API
API_HOST=0.0.0.0
API_PORT=3001

# Chain RPC Endpoints
ETH_RPC_HTTP=http://YOUR_ETH_RPC_HOST:8545
ETH_RPC_WS=

BNB_RPC_HTTP=https://bsc-dataseed.binance.org
BNB_RPC_WS=

ARB_RPC_HTTP=https://arb1.arbitrum.io/rpc
ARB_RPC_WS=

OP_RPC_HTTP=https://mainnet.optimism.io
OP_RPC_WS=

BASE_RPC_HTTP=https://mainnet.base.org
BASE_RPC_WS=

AVAX_RPC_HTTP=https://api.avax.network/ext/bc/C/rpc
AVAX_RPC_WS=

XLAYER_RPC_HTTP=https://rpc.xlayer.tech
XLAYER_RPC_WS=

POLYGON_RPC_HTTP=https://polygon-rpc.com
POLYGON_RPC_WS=

SOLANA_RPC_HTTP=https://api.mainnet-beta.solana.com
SOLANA_RPC_WS=

BTC_RPC_HTTP=
BTC_RPC_WS=

# Indexer
INDEXER_BATCH_SIZE=100
INDEXER_POLL_INTERVAL=2
INDEXER_ENABLED_CHAINS=eth
